body {
  box-sizing: border-box;
  background: lightsalmon;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedor {
  width: 200px;
  height: 200px;
}

.marco {
  width: 100%;
  height: 100%;
  border: 8px solid white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aguja {
  display: flex;
  height: 5px;
  width: 50%;
  /* background-color:white; */
}

despues podemos seguirla si quieren,
o hacer una copia o lo que quieran!♥ .hora {
  background-color: blue;
}

.minutos {
  background-color: yellow;
}

.segundos {
  background-color: green;
}
